In [14]:
import pandas as pd
from tqdm import tqdm

In [15]:
finalset = pd.read_csv('finalset.csv', index_col= 'Unnamed: 0')

In [16]:
finalset = finalset.drop('year_month', axis = 1)
finalset

       store_id        amount    datetime
0             0  7.470000e+05  2016-06-25
1             0  1.005000e+06  2016-07-25
2             0  8.715714e+05  2016-08-25
3             0  8.978571e+05  2016-09-25
4             0  8.354286e+05  2016-10-25
...         ...           ...         ...
60146      2136  2.012214e+06  2018-10-25
60147      2136  2.135429e+06  2018-11-25
60148      2136  2.427429e+06  2018-12-25
60149      2136  1.873643e+06  2019-01-25
60150      2136  2.227429e+06  2019-02-25

[60151 rows x 3 columns]

In [17]:
# 매출 데이터량(12개 미만)이 적은 가게를 필터링하는 함수 / 제거 알고리즘 구현해야함
n_store = 0 
for i in finalset['store_id'].unique()[0:]:
    subset_5 = finalset[finalset['store_id'] == i]
    if len(subset_5) < 12:
        print(i,"매출 데이터량이 너무 적습니다.")
        n_store += 1
    else:
        pass
print("매출 데이터량이 적은 가게의 수 : ", n_store)

795 매출 데이터량이 너무 적습니다.
매출 데이터량이 적은 가게의 수 :  1

In [18]:
n_store = 0

for i in tqdm(finalset['store_id'].unique()[0:]):
    subset_5  = finalset.loc[finalset['store_id'] == i]
    if len(subset_5) < 12:
        print(i,"매출 데이터량이 너무 적습니다.")
        # 스토어 개수를 출력하기 위한 함수
        n_store += 1
        # 스토어 아이디 별로 loc 시행
        non_id = subset_5['store_id'].unique()[0]
        finalset = finalset.loc[finalset['store_id'] != non_id].reset_index(drop=True)       
    else:
        pass
print(n_store,"개의 가게가 최근 매출이 없습니다.")

 58%|█████▊    | 1148/1967 [00:00<00:00, 1826.11it/s]

795 매출 데이터량이 너무 적습니다.

100%|██████████| 1967/1967 [00:01<00:00, 1578.83it/s]

1 개의 가게가 최근 매출이 없습니다.

In [19]:
finalset[finalset['store_id']==795]

Empty DataFrame
Columns: [store_id, amount, datetime]
Index: []

In [20]:
# 2019-02 월 데이터가 없는 가게를 필터링하는 함수 / 제거 알고리즘 구현해야함

n_stores = 0
for i in finalset['store_id'].unique()[30:]:
    subset_5 = finalset[finalset['store_id'] == i].tail(1)
    if finalset['datetime'][32] != subset_5['datetime'].values:
        print(i,"번째 가게는 최근 30일 간의 매출이 없습니다.")
        print(subset_5)
        n_stores += 1
    else:
        pass
print(n_stores,"의 가게가 최근 매출이 없습니다.")

34 번째 가게는 최근 30일 간의 매출이 없습니다.
      store_id         amount    datetime
1004        34  260957.142857  2019-01-25
111 번째 가게는 최근 30일 간의 매출이 없습니다.
      store_id   amount    datetime
3271       111  83000.0  2018-09-25
251 번째 가게는 최근 30일 간의 매출이 없습니다.
      store_id        amount    datetime
7424       251  42857.142857  2019-01-25
257 번째 가게는 최근 30일 간의 매출이 없습니다.
      store_id         amount    datetime
7606       257  276785.714286  2018-09-25
277 번째 가게는 최근 30일 간의 매출이 없습니다.
      store_id        amount    datetime
8183       277  23142.857143  2019-01-25
368 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount    datetime
10911       368  81471.428571  2019-01-25
374 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
11106       374  169571.428571  2018-12-25
479 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id   amount    datetime
14035       479  25000.0  2018-12-25
578 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
16980       578  583171.428571  2019-01-25
619 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
18192       619  271428.571429  2018-11-25
632 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount    datetime
18558       632  79714.285714  2018-10-25
640 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
18785       640  238571.428571  2018-10-25
739 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id  amount    datetime
21550       739  1000.0  2019-01-25
772 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id    amount    datetime
22525       772  311500.0  2018-10-25
802 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
23382       802  186857.142857  2018-11-25
838 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
24459       838  750928.571429  2018-12-25
849 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id   amount    datetime
24801       849  60000.0  2019-01-25
870 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
25453       870  124242.857143  2019-01-25
888 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
26009       888  375328.571429  2019-01-25
999 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
29159       999  452135.714286  2018-02-25
1182 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount    datetime
33976      1182  1.886286e+06  2019-01-25
1193 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
34303      1193  259371.428571  2019-01-25
1217 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
34920      1217  199857.142857  2018-12-25
1233 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount    datetime
35373      1233  17857.142857  2018-06-25
1244 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount    datetime
35604      1244  95142.857143  2019-01-25
1269 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount    datetime
36308      1269  7.219857e+06  2019-01-25
1471 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id   amount    datetime
41905      1471  24000.0  2019-01-25
1520 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id       amount    datetime
43229      1520  3785.714286  2018-12-25
1527 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id       amount    datetime
43417      1527  1428.571429  2018-06-25
1565 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id    amount    datetime
44430      1565  101000.0  2019-01-25
1567 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id    amount    datetime
44492      1567  478400.0  2018-11-25
1598 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id       amount    datetime
45408      1598  2857.142857  2018-11-25
1604 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
45594      1604  264597.142857  2018-09-25
1685 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount    datetime
47875      1685  58714.285714  2018-10-25
1869 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount    datetime
53064      1869  11142.857143  2019-01-25
1906 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
54069      1906  598871.428571  2019-01-25
1967 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount    datetime
55633      1967  56185.714286  2018-12-25
1983 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id    amount    datetime
56061      1983  752000.0  2019-01-25
2027 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
57267      2027  167142.857143  2018-11-25
2053 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id  amount    datetime
57853      2053  5500.0  2018-12-25
2058 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
57953      2058  271428.571429  2018-08-25
2067 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
58207      2067  149971.428571  2019-01-25
2086 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
58740      2086  537571.428571  2018-11-25
2119 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount    datetime
59684      2119  722571.428571  2018-02-25
44 의 가게가 최근 매출이 없습니다.

In [21]:
n_stores_ = 0

for i in tqdm(finalset['store_id'].unique()[30:]):
    subset_5 = finalset[finalset['store_id'] == i].tail(1)
    if finalset['datetime'][32] != subset_5['datetime'].values:
        # store_id 변수 지정
        non_id = subset_5['store_id'].unique()[0]
        # 스토어 개수를 출력하기 위한 함수
        n_stores_ += 1
        # x에 있는 id를 제외하고 뽑기
        finalset = finalset.loc[finalset['store_id'] != non_id].reset_index(drop=True) 
        # 30일 매출 데이터가 없는 것을 뽑아주기 완료
        print(non_id,'가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.')    
    else:
        pass

print(n_stores_,"개의 가게를 삭제완료했습니다.")

  3%|▎         | 59/1936 [00:00<00:03, 588.68it/s]

34 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
111 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.

 13%|█▎        | 251/1936 [00:00<00:04, 397.35it/s]

251 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
257 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
277 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.

 20%|██        | 390/1936 [00:00<00:02, 540.44it/s]

368 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
374 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
479 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.

 30%|██▉       | 578/1936 [00:01<00:02, 536.80it/s]

578 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
619 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
632 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
640 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.

 39%|███▊      | 746/1936 [00:01<00:02, 534.30it/s]

739 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
772 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
802 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
838 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
849 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.

 46%|████▋     | 897/1936 [00:01<00:01, 636.57it/s]

870 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
888 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
999 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.

 68%|██████▊   | 1307/1936 [00:02<00:00, 967.54it/s]

1182 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1193 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1217 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1233 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1244 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1269 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1471 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.

 78%|███████▊  | 1501/1936 [00:02<00:00, 825.17it/s]

1520 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1527 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1565 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1567 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1598 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1604 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.

 89%|████████▊ | 1714/1936 [00:02<00:00, 882.56it/s]

1685 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1869 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1906

 93%|█████████▎| 1805/1936 [00:02<00:00, 868.17it/s]

 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1967 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
1983 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
2027 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
2053 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
2058 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
2067 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
2086 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.

100%|██████████| 1936/1936 [00:02<00:00, 674.23it/s]

2119 가게는 최근 30일 간의 매출이 없으므로 삭제하였습니다.
44 개의 가게를 삭제완료했습니다.

In [22]:
finalset[finalset['store_id']==34]

Empty DataFrame
Columns: [store_id, amount, datetime]
Index: []

In [23]:
finalset_real = finalset
finalset_real

       store_id        amount    datetime
0             0  7.470000e+05  2016-06-25
1             0  1.005000e+06  2016-07-25
2             0  8.715714e+05  2016-08-25
3             0  8.978571e+05  2016-09-25
4             0  8.354286e+05  2016-10-25
...         ...           ...         ...
59019      2136  2.012214e+06  2018-10-25
59020      2136  2.135429e+06  2018-11-25
59021      2136  2.427429e+06  2018-12-25
59022      2136  1.873643e+06  2019-01-25
59023      2136  2.227429e+06  2019-02-25

[59024 rows x 3 columns]

In [12]:
finalset_real.to_csv('finalset_real.csv')