In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
finalset = pd.read_csv('finalset.csv', index_col= 'Unnamed: 0')

In [3]:
finalset['datetime'] = pd.to_datetime(finalset['year_month'] + '-25', format='%Y-%m-%d')

In [5]:
finalset = finalset.drop('year_month', axis = 1)
finalset

       store_id        amount   datetime
0             0  7.470000e+05 2016-06-25
1             0  1.005000e+06 2016-07-25
2             0  8.715714e+05 2016-08-25
3             0  8.978571e+05 2016-09-25
4             0  8.354286e+05 2016-10-25
...         ...           ...        ...
60146      2136  2.012214e+06 2018-10-25
60147      2136  2.135429e+06 2018-11-25
60148      2136  2.427429e+06 2018-12-25
60149      2136  1.873643e+06 2019-01-25
60150      2136  2.227429e+06 2019-02-25

[60151 rows x 3 columns]

In [6]:
# 매출 데이터량(12개 미만)이 적은 가게를 필터링하는 함수 / 제거 알고리즘 구현해야함
n_store = 0 
for i in finalset['store_id'].unique()[0:]:
    subset_5 = finalset[finalset['store_id'] == i]
    if len(subset_5) < 12:
        print(i,"매출 데이터량이 너무 적습니다.")
        n_store += 1
    else:
        pass
print("매출 데이터량이 적은 가게의 수 : ", n_store)

795 매출 데이터량이 너무 적습니다.
매출 데이터량이 적은 가게의 수 :  1

In [7]:
n_store = 0

for i in tqdm(finalset['store_id'].unique()[0:]):
    subset_5  = finalset.loc[finalset['store_id'] == i]
    if len(subset_5) < 12:
        print(i,"매출 데이터량이 너무 적습니다.")
        # 스토어 개수를 출력하기 위한 함수
        n_store += 1
        # 스토어 아이디 별로 loc 시행
        non_id = subset_5['store_id'].unique()[0]
        finalset = finalset.loc[finalset['store_id'] != non_id]     
    else:
        pass
print(n_store,"개의 가게가 최근 매출이 없습니다.")

finalset = finalset.reset_index(drop=True)

 48%|████▊     | 953/1967 [00:00<00:00, 2070.39it/s]

795 매출 데이터량이 너무 적습니다.

100%|██████████| 1967/1967 [00:01<00:00, 1786.96it/s]

1 개의 가게가 최근 매출이 없습니다.

In [9]:
finalset[finalset['store_id']==795]

Empty DataFrame
Columns: [store_id, amount, datetime]
Index: []

In [50]:
subset_6 = pd.DataFrame(data={'store_id': [],'amount' : [],'datetime' : []})
subset_6

Empty DataFrame
Columns: [store_id, amount, datetime]
Index: []

In [76]:
store_id_list = list()
amount_list = list()
for i in finalset['store_id'].unique():
    subset_5 = finalset[finalset['store_id'] == i]
    if finalset['datetime'][31] == subset_5['datetime'].tail(1).values:
        store_id_list.append(subset_5['store_id'].unique()[0])
        amount_list.append(subset_5['amount'].mean())
        print(subset_5['amount'].mean(),'원을',subset_5['store_id'].unique()[0],'가게의 2019-02-25일 매출에 입력합니다.')
    else:
        pass

913260.080357143 원을 34 가게의 2019-02-25일 매출에 입력합니다.
83982.01058201057 원을 251 가게의 2019-02-25일 매출에 입력합니다.
346787.0967741936 원을 277 가게의 2019-02-25일 매출에 입력합니다.
766754.6666666665 원을 368 가게의 2019-02-25일 매출에 입력합니다.
953487.5324675324 원을 578 가게의 2019-02-25일 매출에 입력합니다.
513579.4642857143 원을 739 가게의 2019-02-25일 매출에 입력합니다.
911331.700892857 원을 849 가게의 2019-02-25일 매출에 입력합니다.
353992.2991071429 원을 870 가게의 2019-02-25일 매출에 입력합니다.
889403.1250000001 원을 888 가게의 2019-02-25일 매출에 입력합니다.
2197391.3043478257 원을 1182 가게의 2019-02-25일 매출에 입력합니다.
301888.3116883117 원을 1193 가게의 2019-02-25일 매출에 입력합니다.
701802.9556650248 원을 1244 가게의 2019-02-25일 매출에 입력합니다.
5704116.071428571 원을 1269 가게의 2019-02-25일 매출에 입력합니다.
111370.53571428571 원을 1471 가게의 2019-02-25일 매출에 입력합니다.
451343.75000000006 원을 1565 가게의 2019-02-25일 매출에 입력합니다.
362086.9047619047 원을 1869 가게의 2019-02-25일 매출에 입력합니다.
384501.05820105836 원을 1906 가게의 2019-02-25일 매출에 입력합니다.
1748209.440993789 원을 1983 가게의 2019-02-25일 매출에 입력합니다.
1431900.0 원을 2067 가게의 2019-02-25일 매출에 입력합니다.

In [85]:
print(store_id_list)
print(amount_list)
print(len(amount_list))

[34, 251, 277, 368, 578, 739, 849, 870, 888, 1182, 1193, 1244, 1269, 1471, 1565, 1869, 1906, 1983, 2067]
[913260.080357143, 83982.01058201057, 346787.0967741936, 766754.6666666665, 953487.5324675324, 513579.4642857143, 911331.700892857, 353992.2991071429, 889403.1250000001, 2197391.3043478257, 301888.3116883117, 701802.9556650248, 5704116.071428571, 111370.53571428571, 451343.75000000006, 362086.9047619047, 384501.05820105836, 1748209.440993789, 1431900.0]
19

In [104]:
subset_6['store_id'] =  store_id_list
subset_6['amount'] = amount_list
subset_6['datetime'] = '2019-02-25'

In [105]:
subset_6

    store_id        amount    datetime
0         34  9.132601e+05  2019-02-25
1        251  8.398201e+04  2019-02-25
2        277  3.467871e+05  2019-02-25
3        368  7.667547e+05  2019-02-25
4        578  9.534875e+05  2019-02-25
5        739  5.135795e+05  2019-02-25
6        849  9.113317e+05  2019-02-25
7        870  3.539923e+05  2019-02-25
8        888  8.894031e+05  2019-02-25
9       1182  2.197391e+06  2019-02-25
10      1193  3.018883e+05  2019-02-25
11      1244  7.018030e+05  2019-02-25
12      1269  5.704116e+06  2019-02-25
13      1471  1.113705e+05  2019-02-25
14      1565  4.513438e+05  2019-02-25
15      1869  3.620869e+05  2019-02-25
16      1906  3.845011e+05  2019-02-25
17      1983  1.748209e+06  2019-02-25
18      2067  1.431900e+06  2019-02-25

In [ ]:
finalset['datetime'] = pd.to_datetime(finalset['year_month'] + '-25', format='%Y-%m-%d')

In [109]:
finalset = pd.concat([finalset,subset_6], axis = 0)
finalset = finalset.sort_values(by=['store_id','datetime']).reset_index(drop = True)
# finalset['datetime'] = pd.to_datetime(finalset['datetime'] + '-25', format='%Y-%m-%d')

<ipython-input-109-b1fa5f2d0aa5>:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype={value.dtype})
  finalset = finalset.sort_values(by=['store_id','datetime']).reset_index(drop = True)

In [97]:
finalset['datetime'][0]

Timestamp('2016-06-25 00:00:00')

In [98]:
for i in finalset['store_id'].unique()[:50]:
    subset_5 = finalset[finalset['store_id'] == i].tail(1)
    if finalset['datetime'][32] != subset_5['datetime'].values:
                print(i,"번째 가게는 최근 30일 간의 매출이 없습니다.")

34 번째 가게는 최근 30일 간의 매출이 없습니다.

In [99]:
# 2019-02 월 데이터가 없는 가게를 필터링하는 함수 / 제거 알고리즘 구현해야함

n_stores = 0
for i in finalset['store_id'].unique()[30:]:
    subset_5 = finalset[finalset['store_id'] == i].tail(1)
    if finalset['datetime'][32] != subset_5['datetime'].values:
        print(i,"번째 가게는 최근 30일 간의 매출이 없습니다.")
        print(subset_5)
        n_stores += 1
    else:
        pass
print(n_stores,"개의 가게가 최근 매출이 없습니다.")

34 번째 가게는 최근 30일 간의 매출이 없습니다.
      store_id         amount             datetime
1008        34  913260.080357  2019-02-25 00:00:00
111 번째 가게는 최근 30일 간의 매출이 없습니다.
      store_id   amount             datetime
3275       111  83000.0  2018-09-25 00:00:00
251 번째 가게는 최근 30일 간의 매출이 없습니다.
      store_id        amount             datetime
7432       251  83982.010582  2019-02-25 00:00:00
257 번째 가게는 최근 30일 간의 매출이 없습니다.
      store_id         amount             datetime
7614       257  276785.714286  2018-09-25 00:00:00
277 번째 가게는 최근 30일 간의 매출이 없습니다.
      store_id         amount             datetime
8195       277  346787.096774  2019-02-25 00:00:00
368 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
10927       368  766754.666667  2019-02-25 00:00:00
374 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
11122       374  169571.428571  2018-12-25 00:00:00
479 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id   amount             datetime
14051       479  25000.0  2018-12-25 00:00:00
578 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
17000       578  953487.532468  2019-02-25 00:00:00
619 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
18212       619  271428.571429  2018-11-25 00:00:00
632 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount             datetime
18578       632  79714.285714  2018-10-25 00:00:00
640 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
18805       640  238571.428571  2018-10-25 00:00:00
739 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
21574       739  513579.464286  2019-02-25 00:00:00
772 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id    amount             datetime
22549       772  311500.0  2018-10-25 00:00:00
802 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
23406       802  186857.142857  2018-11-25 00:00:00
838 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
24483       838  750928.571429  2018-12-25 00:00:00
849 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
24829       849  911331.700893  2019-02-25 00:00:00
870 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
25485       870  353992.299107  2019-02-25 00:00:00
888 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id      amount             datetime
26045       888  889403.125  2019-02-25 00:00:00
999 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
29195       999  452135.714286  2018-02-25 00:00:00
1182 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount             datetime
34016      1182  2.197391e+06  2019-02-25 00:00:00
1193 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
34347      1193  301888.311688  2019-02-25 00:00:00
1217 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
34964      1217  199857.142857  2018-12-25 00:00:00
1233 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount             datetime
35417      1233  17857.142857  2018-06-25 00:00:00
1244 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
35652      1244  701802.955665  2019-02-25 00:00:00
1269 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount             datetime
36360      1269  5.704116e+06  2019-02-25 00:00:00
1471 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
41961      1471  111370.535714  2019-02-25 00:00:00
1520 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id       amount             datetime
43285      1520  3785.714286  2018-12-25 00:00:00
1527 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id       amount             datetime
43473      1527  1428.571429  2018-06-25 00:00:00
1565 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id     amount             datetime
44490      1565  451343.75  2019-02-25 00:00:00
1567 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id    amount             datetime
44552      1567  478400.0  2018-11-25 00:00:00
1598 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id       amount             datetime
45468      1598  2857.142857  2018-11-25 00:00:00
1604 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
45654      1604  264597.142857  2018-09-25 00:00:00
1685 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount             datetime
47935      1685  58714.285714  2018-10-25 00:00:00
1869 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
53128      1869  362086.904762  2019-02-25 00:00:00
1906 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
54137      1906  384501.058201  2019-02-25 00:00:00
1967 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount             datetime
55701      1967  56185.714286  2018-12-25 00:00:00
1983 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id        amount             datetime
56133      1983  1.748209e+06  2019-02-25 00:00:00
2027 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
57339      2027  167142.857143  2018-11-25 00:00:00
2053 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id  amount             datetime
57925      2053  5500.0  2018-12-25 00:00:00
2058 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
58025      2058  271428.571429  2018-08-25 00:00:00
2067 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id     amount             datetime
58283      2067  1431900.0  2019-02-25 00:00:00
2086 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
58816      2086  537571.428571  2018-11-25 00:00:00
2119 번째 가게는 최근 30일 간의 매출이 없습니다.
       store_id         amount             datetime
59760      2119  722571.428571  2018-02-25 00:00:00
44 개의 가게가 최근 매출이 없습니다.